$slider-transition-duration: 480ms;
$slider-transition-timing: cubic-bezier(0.22, 0.61, 0.36, 1);

.opinionsSlider {
	.sliderContainer {
		--slider-transition-duration: #{$slider-transition-duration};
		--slider-transition-timing: #{$slider-transition-timing};

		&.is-animating {
			cursor: progress;

			.sliderBtn {
				pointer-events: none;
			}
		}

		.sliderCard {
			transition:
				transform var(--slider-transition-duration) var(--slider-transition-timing),
				filter var(--slider-transition-duration) ease,
				opacity var(--slider-transition-duration) ease;
			will-change: transform, filter, opacity;

			&.currentCard {
				opacity: 1;
				filter: none;
			}

			&.prevCard,
			&.nextCard {
				opacity: 0.65;
			}
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.opinionsSlider {
		.sliderContainer {
			.sliderCard {
				transition: none;
			}
		}
	}
}
