@use 'variables' as *;
@use 'jsColorsTemp' as *;
@use 'animation' as *;

.siteHeader {
    position: sticky;
    top: 0;
    z-index: 100;

    width: 100%;
}

@media screen and (max-width: 768px) {
    .siteHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 20px 15px;

        box-sizing: border-box;

        background-color: #ffffff;

        .logoLink {
            display: flex;
            align-items: center;

            .logoImage {
                width: 70%;
                height: auto;
            }
        }

        .mainNav {
            .navList {
                display: flex;
                align-items: center;
                gap: 0;

                margin: 0;
                padding: 0;

                list-style: none;

                .navItem {
                    display: none;

                    .navLink {
                        color: inherit;
                        text-decoration: none;
                    }

                    &.navItemCta {
                        display: block;

                        .telegramLinkHeader {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            text-decoration: none;

                            .headerButton {
                                padding: 15px 20px;

                                font-size: 10px;
                                font-weight: 700;

                                border-radius: 12px;

                                background-color: $green;
                                color: #ffffff;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .pageMain {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .heroArticle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        padding: 20px;

        gap: 20px;

        box-sizing: border-box;

        .heroTitle {
            font-size: 32px;
            font-weight: 700;

            color: $green;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .heroDescription {
            width: 100%;

            text-align: start;
        }

        .heroLink {
            text-decoration: none;

            .heroButton {
                width: auto;
                padding: 15px 20px;

                font-size: 10px;
                font-weight: 700;

                border-radius: 12px;

                background-color: $green;
                color: #ffffff;
            }
        }
    }

    .userGuaranteesSection {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        padding: 40px 0 20px 0;

        box-sizing: border-box;

        .userGuaranteesHeading {
            padding: 0 10%;

            font-size: 32px;
            font-weight: 700;
            text-align: center;

            color: $green;
            margin-bottom: 20px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .guaranteeList {
            width: 100%;
            margin: 0;
            padding: 0;

            list-style: none;

            .guaranteeItem {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-bottom: 20px;

                .guaranteeStat {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    font-size: 25px;
                    font-weight: 600;

                    img {
                        width: 30px;
                        height: auto;
                    }
                }

                .guaranteeDescription {
                    margin-top: 5px;

                    font-size: 20px;
                    text-align: center;

                    color: $grey-lg;
                }
            }
        }
    }

    .opinionsSlider {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;

        .sliderTitle {
            max-width: 90%;
            margin-left: 10px;
            margin-bottom: -40px;

            font-size: 32px;
            font-weight: 700;
            text-align: center;

            color: $green;
        }

        .sliderContainer {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 300px;

            overflow: hidden;

            .sliderNav {
                position: absolute;

                display: flex;
                justify-content: space-between;

                width: 60%;
                max-width: 60%;
                min-width: 300px;
                padding: 0 5px;

                box-sizing: border-box;

                z-index: 10;

                .sliderBtn {
                    width: 24px;
                    height: 24px;

                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                .prevBtn {
                    background-image: url(../assets/vectors/next.svg);
                }

                .nextBtn {
                    background-image: url(../assets/vectors/prev.svg);
                }
            }

            .sliderCard {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 60%;
                max-width: 60%;
                min-width: 300px;
                padding: 40px 20px;

                border-radius: 10px;
                box-sizing: border-box;

                background-color: $cupon-bg;
                box-shadow: 5px 5px 15px 0 rgba(66, 68, 90, 0.37);

                .cardLeft {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .sliderPerson {
                        width: 50px;
                        height: 50px;

                        border-radius: 50%;

                        background-image: url(../assets/temp/account_circle_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                }

                .cardRight {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(2, auto);
                    gap: 10px 20px;

                    margin-left: 30px;

                    text-align: right;

                    .sliderRow {
                        text-align: center;

                        span {
                            color: $green;
                            font-weight: 700;
                        }
                    }
                }
            }

            .currentCard {
                --from-transform: translate(0px, 0px) rotate(0deg) scale(1);
                --to-transform: translate(0px, 0px) rotate(0deg) scale(1);

                transform: var(--from-transform);
            }

            .prevCard {
                position: absolute;

                margin: auto;

                filter: blur(2px);

                --from-transform: translate(-80%, 70px) rotate(-10deg) scale(0.985);
                --to-transform: translate(0px, 0px) rotate(0deg) scale(1);

                transform: var(--from-transform);

                z-index: -1;
            }

            .nextCard {
                position: absolute;

                margin: auto;

                filter: blur(2px);

                --from-transform: translate(80%, 70px) rotate(10deg) scale(0.985);
                --to-transform: translate(0px, 0px) rotate(0deg) scale(1);

                transform: var(--from-transform);

                z-index: -1;
            }
        }
    }

    .couponSection {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 70px;

        .couponTitle {
            margin-left: 10px;
            margin-bottom: 20px;

            font-size: 32px;
            font-weight: 700;
            text-align: center;

            color: $green;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .couponDisplayContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            gap: 20px;

            .couponCard {
                width: 90%;
                max-width: 90%;
                padding: 20px;

                border-radius: 10px;
                box-sizing: border-box;

                background-color: $cupon-bg;
                box-shadow: 5px 5px 15px 0 rgba(66, 68, 90, 0.37);

                .couponRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    margin-top: 10px;

                    font-size: 15px;

                    .couponHighlight {
                        font-weight: 600;
                    }

                    .couponDate {
                        color: $grey-lg;
                    }

                    .couponLabel {
                        margin: 0;
                        font-weight: 500;
                    }

                    .couponValue {
                        margin: 0;
                    }
                }

                .firstRow {
                    font-size: 20px;
                }
            }
        }
    }

    .userProsSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 60px;

        .prosContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            width: 90%;
            padding: 30px 20px;

            background-color: $green;
            border-radius: 12px;

            .prosHeading {
                font-size: 24px;
                font-weight: 700;
                text-align: center;

                color: #ffffff;
            }

            .prosIcon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 40px;
                    height: auto;
                }
            }
        }
    }

    .siteFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        margin-top: 40px;
        padding: 15px 30px;

        box-sizing: border-box;

        border-top: 1px solid lightgray;

        .footerLogo {
            width: 30%;
            height: auto;
        }

        .footerLinks {
            display: flex;
            gap: 8px;

            .footerLink {
                color: $grey-lg;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}
