@use 'variables' as *;
@use 'jsColorsTemp' as *;
@use 'twojStaryJestWPenisGangu.scss' as *;
header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
@media screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        box-sizing: border-box;
        background-color: white;
        a{
            width: 50%;
                img{
                    width: 70%;
                    height: auto;
                }   
        }
    
        nav{
            ul{
                li{
                    display: none;
                }
                .telegram-link-header{
                    text-decoration: none;
                
                    .button-header{
                        padding: 15px 20px;
                        font-size: 10px;
                        font-weight: 700;
                        border-radius: 12px;
                        background-color: $green;
                        color: white;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    main {
        // HEROES SECTION
        article{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 20px 20px;
            gap: 20px;
            box-sizing: border-box;
            h2{
                font-size: 32px;
                font-weight: 700;
                color: $green;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            p{
                width: 100%;
                text-align: start;
            }
            a{
                text-decoration: none;
                
                .button-article {
                    width: auto;
                    padding: 15px 20px;
                    font-size: 10px;
                    font-weight: 700;
                    border-radius: 12px;
                    background-color: $green;
                    color: white;
                }
            }
        }
        
        // USER GUARANTESS SECTION
        .user-guarantess {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 40px;
            padding: 20px 0;

            h3 {
                font-size: 32px;
                color: $green;
                text-align: center;
                padding: 0 10%;
                font-weight: 700;
                margin-bottom: 20px; 
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            ul{
                li{
                    margin-bottom: 20px;
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 600;
                        gap: 10px;
                        font-size: 25px;

                        img{
                            width: 30px;
                            height: auto;
                            color: $green;
                        }
                    } 
                    p{
                        text-align: center;
                        font-size: 20px;
                        color: $grey-lg;
                        margin-top: 5px;
                    }
                }
            }
            
        }   

        // STATISTICS SECTION
        .cuponSection {
            margin-top: 70px;
            display: flex;
            flex-direction: column; 
            align-items: center;
            
            .cuponTitle {
                font-size: 32px;
                font-weight: 700;

                margin-left: 10px;
                margin-bottom: 20px;

                color: $green;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                text-align: center;
            }

            .cuponDisplayContainer {
                width: 100%;

                display: flex;
                align-items: center;
                flex-direction: column;

                gap: 20px;

                .card {
                    width: 90%;
                    max-width: 90%;
                    padding: 20px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    background-color: $cupon-bg;
                    box-shadow: 5px 5px 15px 0px rgba(66, 68, 90, 0.37);
                    
                    .row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 15px;
                        margin-top: 10px;

                        .boldText {
                            font-weight: 600;
                        }

                        .date {
                            color: $grey-lg;
                        }
                    }

                    .firstRow {
                        font-size: 20px;
                    }
                }
            }
        }
        // USER PROS SECTION
        .user-pros{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .pros-container{
                width: 90%;
                height: auto;
                background-color: $green;
                h3{
                    text-align: center;
                    color: white;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
        
    }
    footer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        border-top: 1px solid lightgray;
        padding: 15px 30px;
        box-sizing: border-box;
        img{
            width: 30%;
        }
        div{
            display: flex;
            gap: 8px;
        }
        a{
            text-decoration: none;
            color: $grey-lg;
            font-size: 14px;
        }
    }
}